<div class="card">

    <div class="card-title">
        Model Information
    </div>

    <div class="table-wrapper">

        <table class="data-table">

            <thead>
                <tr>
                    <th>Dataset</th>
                    <th>Total</th>
                    <th>MAE</th>
                    <th>MAPE</th>
                    <th>Epoch</th>
                    <th>Batch Size</th>
                    <th>Units</th>
                </tr>
            </thead>

            <tbody>

                <!-- TRAINING -->
                <tr>

                    <td>
                        <b>Training</b>
                    </td>

                    <td>70%</td>

                    <td>7944.0218</td>

                    <td>0.7162%</td>

                    <td rowspan="2">100</td>

                    <td rowspan="2">64</td>

                    <td rowspan="2">100</td>

                </tr>

                <!-- TESTING -->
                <tr>

                    <td>
                        <b>Testing</b>
                    </td>

                    <td>30%</td>

                    <td>15205.8567</td>

                    <td>0.8768%</td>

                </tr>

            </tbody>

        </table>

    </div>

</div>